<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
  <app-explore-container name="Tab 2 page"></app-explore-container>
  <ion-card>
    <img alt="Pollo Loco" src="../../assets/IMAGENES/RESTAURANTES/polloloco.jpg" />
    <ion-card-header>
      <ion-card-title>Pollo loco</ion-card-title>
      <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon>
      <ion-card-subtitle color="success">Se come rico y barato!</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      El Pollo Loco es una franquicia de restaurantes de pollo asado mexicano de 400 sucursales en Estados Unidos y México fundada en Guasave, Sinaloa, México en 1975.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Kurai Sushi" src="../../assets/IMAGENES/RESTAURANTES/kuraisushi.jpeg" />
    <ion-card-header>
      <ion-card-title>Kurai Sushi</ion-card-title>
      <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon>
      <ion-card-subtitle color="warning">Gran variedad de comida, pero el precio no tan razonable.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Kurai sushi es un restaurante buffet de sushi y comida oriental. Un lugar muy colorido y espacioso. Sus sucursales en Monterrey se encuentran en Avanta Gardens y Fashion Drive.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Muncher House" src="../../assets/IMAGENES/RESTAURANTES/muncherhouse.jpg" />
    <ion-card-header>
      <ion-card-title>Muncher House</ion-card-title>
      <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
      <ion-card-subtitle color="success">Un estandarte de la cocina regiomontana, un manjar para el paladar, pruebalo y disfruta de lo que es, el Norte del pais. <br>Tiene el sello Antojitos Monterrey.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Comida para el alma, techo para el corazón. <br>Muncher House es un restaurante que se especializa en hamburguesas de diferentes tipos e ingredientes, así como bebidas con o sin alcohol. Tiene cuatro sucursales en la zona metropolitana de Monterrey, Nuevo León, México.
    </ion-card-content>
  </ion-card>
</ion-content>
